html {
    height: 100%;
}

.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #777;
    text-align: center;
    font-family: sans-serif, Arial;
    margin: 0;
}

.list {
    background-color: red;
}

.pageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.cartIconContainer {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px 10px 0px;
    align-items: baseline;
}

#successCart {
    display: none;
    padding-right: 10px;
}

#cartIcon {
    font-size: 24px;
    color: cadetblue;
    padding-right: 5px;
}

.product-table {
    width: 90%;
    font-family: sans-serif, Arial;
}

.product-table thead {
    background-color: #999;
}

.clickableHeader {
    cursor: pointer;
    position: relative;
}

.arrow {
    position: absolute;
    right: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    width: 5px;
    height: 5px;
}

.arrowDown {
    transform: rotate(45deg);
}

.arrowUp {
    transform: translateY(50%) rotate(225deg);
}

.product-table tbody tr {
    background-color: aliceblue;
}

.product-table td, th {
    padding: 10px;
    text-align: center;
}

.product-table button {
    border: none;
    padding: 5px;
    width: 100%;
    background-color: cadetblue;
}

.product-table button:active {
    opacity: 50%;
}

.product-table button:hover {
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}

.form-item {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-around;
}

form input {
    border: 1px solid #999;
}

form input:focus {
    outline: none;
}

.form-input {
    background-color: red;
}

#image-input {
    width: 75%;
}

#form-button {
    width: 80%;
    align-self: center;
    border-radius: 5px;
    border: none;
    background-color: cadetblue;
    padding: 5px;
    cursor: pointer;
}

#footer {
    color: #FFF;
    font-weight: lighter;
    font-family: sans-serif, Arial;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: #999999;
    align-items: center;
}

#footerLinks {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}