.test {
    display: flex;
    text-align: center;
    font-family: sans-serif;
    background-color: #77ABBD;
    width: 99%;
    height: 100px;
    align-content: center;
    justify-content: center;
}

table {
    margin: 30px auto;
    text-align: center;
    border-collapse:separate;
    border-spacing: 0 10px;
}


td {
    background-color: #457B9D;
    padding:8px;
}

th {
    background-color: #1D3557;
    color: #F1FAEE;
    padding:8px;
}


.user-data {
    text-align: right;
}
.data-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    font-family: sans-serif;
    text-align: center;
    margin: 30px;
}

.data-container h3 {
 margin-top: 50px;
}

.data-container div {
    margin: auto;
    width: 100%;
}

button {
    border: 0;
    background-color: #E63946;
    cursor: pointer;
    height: 40px;
    border-radius: 3px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: wrap;
    position: relative;
    background-color: #A8DADC;
    width: 99%;
    font-family: sans-serif;
    margin-top: auto;
}

footer h3 {
    margin-left: 30px;
}

footer li {
    display: inline-block;
    margin-right: 30px;
}

body {
    background-color: #F1FAEE;
}

.sortBy {
    cursor: pointer;
}

body {
    height: 100%;
    display:flex;
    flex-direction:column;
}